body, html {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: -10px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 0px;
}

.section ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 6px;
}

.section ul li {
    margin-bottom: 4px;
}

a {
    color: #000;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.job {
    margin-bottom: 20px;
}

.job-title {
    font-weight: bold;
    margin-bottom: -5px;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}