body, html {
    font-family: Arial, sans-serif;
    font-size: 15px; /* Change the base font size for body and html */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1000px; /* Set a maximum width for the container */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure no overflow */
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 0px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.skills, .experience, .education {
    display: block;
}

.skills ul, .experience ul, .education ul {
    width: 100%;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.experience .job {
    margin-bottom: 20px;
}

.experience .job-title {
    font-weight: bold;
}